@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta);
}

/* Custom Utilities if needed */
@layer utilities {
  .gauge-arc {
    transition: stroke-dashoffset 0.5s ease-out;
  }
}

body {
  font-family: var(--font-plus-jakarta), sans-serif;
}
